.info {
  &__wrapper {
    @include container;
    padding: 20px;
  }

  &__title {
    margin: 0 0 42px;
    color: rgb(0, 0, 0);
    font-family: $main-font;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
  }
}

@include media-min($desktop-width) {
  .info {
    &__wrapper {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: -500px;
        border: 1px solid #967EBD;
        border-radius: 5px;
      }
    }
  }
}
