.item {
  box-shadow: 6px 6px 23px rgba(101, 65, 163, 0.13);
  border-radius: 8px;
  border: 1px solid rgba(215, 215, 215, 0.24);
  background-color: rgb(251, 251, 251);
  overflow: hidden;

  &__header {
    position: relative;
    padding: 13px 17px 12px;
    border-radius: 0 0 11px 11px;
    background-color: rgb(255, 255, 255);
    box-shadow: 6px 6px 23px rgba(101, 65, 163, 0.13);
  }

  &__badge {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    align-items: center;
    width: 60px;
    height: 24px;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-family: $main-font;
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
    border-radius: 2px 0 0 2px;
    background-color: rgb(242, 242, 242);

    &::before {
      @include vertical-center;
      content: "";
      right: 10px;
      width: 15px;
      height: 14px;
      background: url("/img/icon-star.svg") no-repeat center;
      background-size: cover;
    }
  }

  &__main {
    padding: 20px 20px;
    box-shadow: 6px 6px 23px rgba(101, 65, 163, 0.13);
  }

  &__caption {
    color: rgb(0, 0, 0);
    font-family: $main-font;
    font-size: 18px;
    font-weight: 500;
  }

  &__descr {
    color: rgb(0, 0, 0);
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }

  &__footer {
    position: relative;
    padding: 19px 50px 19px 53px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.07);

    &::before,
    &::after {
      @include vertical-center;
      content: "";
    }

    &::before {
      left: 25px;
      width: 17px;
      height: 17px;
      background: url("/img/icon-clock.svg") no-repeat center;
      background-size: cover;
    }

    &::after {
      right: 25px;
      width: 9px;
      height: 13px;
      background: url("/img/icon-bookmark.svg") no-repeat center;
      background-size: cover;
    }
  }

  &__date {
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: $main-font;
    font-size: 12px;
    line-height: 12px;
  }
}
